@import url(http://fonts.googleapis.com/css?family=Asap:400);

h1{color:#fff;
	font: 200 1.75em/1.5em "Asap", sans-serif; text-align:center;}
h3{color:#fff;
	font: 100 1.75em/1.5em "Asap", sans-serif; text-align:center;}

body {
	background-color: #14161f;
}